/* #D94D32 redColor */
/* #283734  mainColor */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#283734 ;
    padding: 0px;
    margin: 0px;
}
nav{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    margin-bottom: 7%;
    background-color:#283734 ;
    position: fixed;
    padding-top: 10px;
    opacity: 0.9;


}

nav ul{
    width: 45vw;
    list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;

}
nav ul li a:hover{
background-color: white;
color: #D94D32;
}
nav button{
    word-spacing: 3px;
    background-color: transparent;
    color: white;
    border: white 3px solid;
    border-radius: 4px;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav button a{
    word-spacing: 3px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

}
nav button:hover{
    background-color:#d94d324a;

}
#logo{
    color:#D94D32 ;
    font-size: 48px;
    font-weight: bolder;
    text-transform: uppercase;
}
.optins{
    width: 63vw;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
}
nav svg{
    display: none;
}
#landing{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
#landing img{
    width: 60%;
}


#about{
    margin-top: 5%;
    padding-left:10% ;
    width: 100%;
    display: flex;
    flex-direction: column;

}
#aboutcard{
    display: block;
    color: white;
    width: 25%;


}
#aboutPic{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 900px;

}

#aboutPic #firest{
    grid-column: 1/5;
    grid-row: 1/3;
    background-image: url(../images/pexels-chevanon-photography-302899.jpg);
    background-size: cover;
    background-position: 97% 11%;
    background-repeat: no-repeat;
}

#aboutPic #scond{

    grid-column: 4/11;
    grid-row: 2/6;
    background-image: url(../images/pexels-kiro-wang-7133847.jpg);
    background-size: cover;
    background-position: 97% 11%;
    background-repeat: no-repeat;
}

#menus{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

#dishFilter h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: initial;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    margin: 10px 0px;
}
#dishFilter button{
    background-color: transparent;
    color: white;
    border: none;
    margin-right: 20px;
}
#dishFilter .active{
    border-bottom: solid 2px;
}
.menusTab{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.card{
    width: 35vw;
    margin-top: 3vw;
    margin-right: 3vw;
    margin-left: 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card img{
    width: 35vw;


}
#allMenuDownloud{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
#allMenuDownloud button{
    word-spacing: 3px;
    background-color: transparent;
    color: white;
    border: white 3px solid;
    border-radius: 4px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    cursor: pointer;


}
#allMenuDownloud button:hover{
    background-color:#d94d324a;
}
#allMenuDownloud h3{
    margin: 20px 0px;
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;


}

#reserve{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    width: 78%;
    margin-left: 10%;
    margin-top: 80px;
    height: auto;
    padding: 10px;

}
#reservecont{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#reserveInbuts{
    grid-column: 2/4;
    background-color: #283734;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#fullName, #date, #fromTime, #toTime, #fullOrder, #numberOfChair{
    width: 20vw;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;    
    margin: 20px;
    cursor:white;
}
#submit{
    width: 10vw;
    height: 50px;
    word-spacing: 3px;
    color: white;
    border: white 3px solid;
    border-radius: 4px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: transparent;

    
}

#submit:hover{
    background-color:#d94d324a;

}
footer{
   
    background-color: white;
    width:100% ;
    margin-top: 150px;
}
.footer{
    display: flex;
    width: 70vw;
    margin-left: 15vw;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.footer div img {
    width: 200px ;
    height: 200px;
}
.footer button{
    width: 10vw;
    height: 50px;
    word-spacing: 3px;
    color: #283734;
    border: #283734 3px solid;
    border-radius: 4px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    cursor: pointer;
    
    background-color: transparent;


}
.footer button a{
    text-decoration: none;
    color: #283734;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

.map iframe{
    width: 100vw;
    height: 300px;
}

.copyrights{
    background-color: #283734;
    color: white;
    display: flex;
    justify-content: center;


}
.links ul{
    list-style: none;
    display: flex;
    width: 10vw;
    justify-content: space-between;
}
.links ul li{
    text-decoration: none;
}
.links ul li a{
    text-decoration: none;
    color: #283734;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
.copyrights span{
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;

}




@media (max-width: 760px) { 

    nav{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
        margin-bottom: 7%;
        background-color:#283734 ;
        position: fixed;
        padding-top: 10px;
        opacity: 0.95;
        flex-direction: column;
    
    
    }
    #logo{
        align-self: start;
        /* margin-bottom: 20px; */


    }


    nav .optins {
		display: none;
		text-align: center;
	}
	nav .active {
		color: white;
		text-decoration: none;
		font-size: 30px;
		font-weight: 600;
		padding: 0px 10px;
		display: block !important;
		text-align: center;
	}
    .active ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 56vw;
    }
    .active li{
        align-self: center;


    }
	nav svg{
        display: block;
        width: 15vw;
        height: 5vh;
        align-self: end;
        margin-top: -45px;
        margin-bottom: 25px;
    }
    #landing img{
        width: 85vw;

    }
    #about{
        width: 100vw;
        display: flex;
        margin-top: 7%;
    padding-left: 5%;
    }


   #aboutcard{

    width: 80%;
    margin-bottom: 20px;
   }

   #aboutPic{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 600px;

}
   #aboutPic #firest{
    grid-column: 1/6;
    grid-row: 1/3;
    background-image: url(../images/pexels-chevanon-photography-302899.jpg);
    background-position: 82% 36%;
    background-repeat: no-repeat;
}

#aboutPic #scond{

    grid-column: 3/11;
    grid-row: 2/6;
    background-image: url(../images/pexels-kiro-wang-7133847.jpg);
    background-size: cover;
    background-position: 20% 50%;
    background-repeat: no-repeat;
}
.card {
    width: 44vw;
    margin-top: 3vw;
    margin-right: 3vw;
    margin-left: 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 44vw;

}
#menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 0px;

}
#allMenuDownloud {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#reserve {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    width: 95%;
    margin-left: 3%;
    margin-top: 80px;
    height: auto;
    padding: 10px;
}
#reserve {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: white;
    width: 95%;
    margin-left: 3%;
    margin-top: 80px;
    height: auto;
    padding: 10px;
}
#reserveInbuts {
    grid-column: 2/4;
    background-color: #283734;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
#fullName, #date, #fromTime, #toTime, #fullOrder, #numberOfChair {
    width: 35vw;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin: 20px;
}
#submit {
    width: 31vw;
    height: 49px;
    word-spacing: 3px;
    color: white;
    border: white 3px solid;
    border-radius: 4px;
    padding: 1px 10px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    cursor: pointer;
    margin-bottom: 15px;
    background-color: transparent;
    align-self: center;

}
#reservecont {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reservecont {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 75% 0%;
    align-items: baseline;
}
.footer {
    display: flex;
    width: 70vw;
    height: 45vh;
    /* margin-left: 1vw; */
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.footer div img {
    width: 45vw;
    height: 45vw;
}

.links ul {
    list-style: none;
    display: flex;
    width: 27vw;
    justify-content: space-evenly;
    align-items: baseline;
}

.footer button {
    width: 34vw;
    height: 50px;
    word-spacing: 5px;
    color: #283734;
    border: #283734 3px solid;
    border-radius: 4px;
    /* padding: 2px 25px; */
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    cursor: pointer;
    background-color: transparent;
}


}

/* //  */
@media (max-height: 500px) { 
    .footer {
        display: flex;
        width: 100%;
        height: 45vh;
        /* margin-left: 1vw; */
        align-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5vh 0px;
        padding: 58vh 0px;
    }



    nav {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
        margin-bottom: 7%;
        background-color: #283734;
        position: fixed;
        padding-top: 10px;
        opacity: 0.95;
        flex-direction: column;
        min-height: 14vh;
    }
    
    nav svg {
        display: block;
        width: 15vw;
        height: 9vh;
        align-self: end;
        margin-top: -44px;
        margin-bottom: 27px;
    }
 }

